body {
  background-color: antiquewhite;
}

.todo-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.modal {
  background-color: antiquewhite;
  padding: 50px;
  border-radius: 5px;
}
